<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I’m a DevOps minded Engineer focused on technical service operations.
      I'm always looking for new and innovative ways of solving tech challenges
      or problems, designing and implementing the technologies integration or
      developing the solution by myself.</p>
    <p>I am a friendly person, very patient and with good listening skills. On
      the other hand, due to my experience in outreach activities, such us
      multidisciplinary training courses and innovation related talks, I’m
      considered as a good speaker and knowledge transmitter.</p>
    <p>I am a team player and, at the same time, I have leadership capabilities.
      I easily learn new concepts and technologies and I always have the need
      to go in depth on everything I learn. I love self-learning and I am
      autonomous carrying out the tasks I’m entrusted with. I am a proactive
      person highly motivated to solve technical challenges and with a clear
      inquisitiveness to innovation and technology.</p>
    </div><!--//summary-->
</section><!--//section-->
