<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p><b>I’m a DevOps minded and Cloud specialist Engineer with excellent experience
      in hands on AWS cloud infrastructure as well as management, leadership,
       and technical communication.</b> I consider myself as a
      very proactive person, always looking for new and innovative ways of solving
      <b>all types of tech challenges or business related problems</b>, designing and implementing the
      technologies integrations, business plans or building the solution by myself!</p>
    <p>I am a friendly person, very patient and with good listening skills. On
      the other hand, due to my experience in outreach activities, such as
      multidisciplinary training courses or innovation related talks, I’m
      considered as a good speaker and knowledge conveyor.</p>
    <p>I am a team player and, at the same time, I have leadership capabilities and
      a strong inquisitiveness towards people development.
      I easily learn new concepts and technologies and I always have the need
      to dive deep on everything I learn. I love self-learning and I am very
      autonomous carrying out the tasks I’m entrusted with.</p>
</div><!--//summary-->
</section><!--//section-->
