<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Who am I?</h2>
<div class="summary">
    <p>Being a data-driven, customer-centric, and DevSecOps-minded executive director, 
      I have a clear orientation towards Technology Leadership, Product Management, 
      and Business Development. I consider myself a very proactive person, 
      always looking for new and innovative business opportunities that can solve 
      real problems building technological products (that customers would love).</p>

      <p>I also spend my time as a Business Angel investor in Technological startups,
        contributing with smart capital or as an Advisory Board Member. If you think I
        can help you or your project, do not hesitate to contact me!
      </p>

      <p>Top Experiences: M&A Due Diligence, M&A Companies Integration, Digital 
      Transformation Strategy, Product Discovery and Management, Platform Development,
      High Performing teams leadership, Business Strategy Development, 
      People Coaching and Management, Engineering Management, 
      Security and Compliance, Tech Strategy and Methodologies.</p>

      <p>Tech Experience: DevOps, Cloud, Data Engineering, Data Science, 
      Data Analytics, Microservices, Event-driven Architectures, REST APIs.</p>

      <p>Domains Experience: Telco, Retail, Insurtech and Proptech.</p>
</div><!--//summary-->
</section><!--//section-->
