<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <img src="{{site.baseurl}}/assets/images/coverwallet.png" style="
                        height: 50px;
                        float: left;
                        padding-right: 10px;
                    "/>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Chief Information Officer (CTO Office)</h3>
                            <div class="time">Aug 2020 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">CoverWallet, an Aon Company</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Top experiences:</p>
                        <ul>
                            <li>IT/Tech M&A integration responsible after the acquisition</li>
                            <li>Platform Product strategy for growth</li>
                            <li>Data-driven decision making culture</li>
                            <li>Long-term strategy and budgeting</li>
                            <li>DevEx, Security and Infra</li>
                            <li>Engineering Leadership</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <img src="{{site.baseurl}}/assets/images/thelab.jpeg" style="
                        height: 50px;
                        float: left;
                        padding-right: 10px;
                    "/>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product & Tech Advisor | Board Member</h3>
                            <div class="time">Nov 2020 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">The Lab Ventures</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Helping to build the next-gen leader in Venture Capital (Venture Builder):</p>
                        <ul>
                            <li>Advisory Board Member</li>
                            <li>Technology strategy</li>
                            <li>Product development</li>
                            <li>C-Level Coacher</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <img src="{{site.baseurl}}/assets/images/coverwallet.png" style="
                        height: 50px;
                        float: left;
                        padding-right: 10px;
                    "/>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Head of Information Services</h3>
                            <div class="time">May 2018 - Jul 2020 </div>
                        </div><!--//upper-row-->
                        <div class="company">CoverWallet</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I'm accountable for CoverWallet’s business technical reliability, leading the four pillars of CoverWallet’s Information Services:</p>
                        <ul>
                          <li>Data Systems</li>
                          <li>Cloud Infrastructure</li>
                          <li>Security</li>
                          <li>IT</li>
                        </ul> 
                        <p>My main mission in CoverWallet is to enable business with the data products and cover the needs related to infrastructure 
                          in a cost-efficient, secure and reliable way. Therefore, I'm leading five different teams that together handle the four IT components:</p>
                        <ul>
                            <li>Data Science</li>
                            <li>Data Engineering</li>
                            <li>Service Reliability Engineering (DevOps)</li>
                            <li>Security</li>
                            <li>Corporate IT</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <img src="{{site.baseurl}}/assets/images/amazon.png" style="
                        height: 50px;
                        float: left;
                        padding-right: 10px;
                    "/>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Account Manager</h3>
                            <div class="time">Sept 2017 - Mar 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon Web Services</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Technical Account Manager for Amazon Web Services (AWS), under the Enterprise
                          Support Organisation, working with top AWS Enterprise customers helping them
                          make the most out of AWS.</p>
                        <ul>
                          <li>Top AWS enterprise customers primary contact and customer ambassador in AWS.</li>
                          <li>Direct technical support on AWS products and intergrations or engagement facilitator with AWS subject mater experts (SMEs).</li>
                          <li>Business plans alignment facilitator between customer's and AWS's roadmaps.</li>
                          <li>Finanacial, Security, Performance and Architectural customer implementations reviews and audit.</li>
                          <li>AWS products presentations, demos and workshops.</li>
                          <li>Bridge between AWS Partners and AWS Customers.</li>
                          <li>C-level engamenents facilitator on business and operational issues.</li>
                        </ul>
                        <p><b>Technology environment</b>: <i>Business Analytics (Redshift, Tableau), Build-Your-Own-Tool (Python), Architecture reviews,
                          Multiple AWS Products (IaaS, PaaS and SaaS), Security and Account management reviews (Trusted Advisdor).</i></p>
                        <p><b>Key personal projects:</b>
                          <ul>
                            <li>AWS Reserved Instances Recommendator</li>
                            <li>Financial Analysis Framework</li>
                          </ul>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <img src="{{site.baseurl}}/assets/images/tuenti.png" style="
                        height: 50px;
                        float: left;
                        padding-right: 10px;
                    "/>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Team Leader & SRE Principal Engineer</h3>
                            <div class="time">Jan 2017 - Sept 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Tuenti (Telefónica)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Team Leader at Tuenti (Telefónica) managing the Continuous Engineering (DevOps) team under the Operations Area</p>
                        <ul>
                          <li>Multi-location (Spain & Israel) team composed of seven Senior DevOps Engineers.</li>
                          <li>Implemented an Agile team way-of-working based on Scrum methodolgy.</li>
                          <li>First contact for internal stakeholders relations to set expectations, internal selling and agree on business plans alignments.</li>
                          <li>Focus on people development for individual and collective profesional growth.</li>
                          <li>Team activity around a set of Telco B2C products, consisting on Mobile apps and Backend sw.</li>
                          <li>Team responsability around the E2E deliverables life cycle, including QA, Deployment and Operation stages.</li>
                        </ul>
                        <p><b>Technology environment</b>: <i>Microservices (Kubernetes), Source Control (Git, Artifactory), Hybrid Cloud IaC (Terraform),
                          Configuration Management (Puppet), Automation (Ansible), CI & CD (Jenkins & Jira),
                          Monitoring and Debuging (Prometheus).</i></p>
                        <p><b>Key personal projects:</b>
                          <ul>
                            <li>Microservices platform based on Kubernetes</li>
                            <li>Microservices DevOps Pipelines</li>
                          </ul>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <img src="{{site.baseurl}}/assets/images/telefonica.png" style="
                        height: 50px;
                        float: left;
                        padding-right: 10px;
                    "/>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Leader</h3>
                            <div class="time">Jan 2015 - Jan 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Telefónica</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Technical Leader for Telefonica CCDO (Future Comms Area) at the Service Engineering (SEEN) department.</p>
                        <ul>
                          <li>Influencing stakeholders and other area teams on DevOps implementation and best practices in all life cycles stages; coding, testing, deploying, operating and measuring.</il>
                          <li>Technical reference and hands-on resource on complex operational issues or project blockers.</il>
                          <li>Program management responsable of the department roadmap, handling several projects in paralel with different teams in the orgazation.</il>
                          <li>Product Owner in some of the department internal projects in the DevOps field.</il>
                        </ul>
                        <p><b>Technology environment</b>: <i>System Administration (Linux), Cloud Architecture (AWS and Azure)
                          Build-Your-Own-Tool (Python), Chaos Engineering, CI & CD (Jenkins, Ansible), Infra as Code (Terraform, CloudFormation)
                          Source Control (Git), Monitoring & Measuring (Splunk, Graphite), Microservices (k8s).</i></p>

                        <p><b>Key personal projects:</b>
                          <ul>
                            <li>Real-Time service Cloud migration assesment (multi vendor) and implementation</li>
                            <li>Hybrid Cloud Management: Infrastructure as Code (IaC)</li>
                            <li>Multibranching (Blue/Green Deployment)</li>
                            <li>Reactive Monitoring with automatic handlers</li>
                            <li>On-premises Chaos Monkey</li>
                          </ul>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <img src="{{site.baseurl}}/assets/images/telefonica.png" style="
                        height: 50px;
                        float: left;
                        padding-right: 10px;
                    "/>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Service Reliability Engineer (SRE)</h3>
                            <div class="time">Dec 2013 - Jan 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Telefónica</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Service Engineer for Telefonica CCDO (Future Comms Area) at the Service Engineering (SEEN) department.</p>
                        <ul>
                          <li>Reliability Engineer hat: Analyze service behavior, develop custom operational tools and lead technical task forces</il>
                          <li>Technology Observatory Lead hat: Continuous researching on new engineering tools and methodologies to provide technical guidance to the Org.</il>
                          <li>Project Manager hat: Lead development and deployment of internal projects and POCs.</il>
                        </ul>
                        <p><b>Technology environment</b>: <i>Python, Queue Systems (AMQ), NonSQL DBs, Linux, Git, Docker, Nagios, Splunk, Graphite, Debuging.</i></p>
                        <p><b>Key personal projects:</b>
                          <ul>
                            <li>Measure Everything</li>
                            <li>E2E VoIP probes based on Raspberry Pi</li>
                          </ul>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <img src="{{site.baseurl}}/assets/images/telefonica.png" style="
                        height: 50px;
                        float: left;
                        padding-right: 10px;
                    "/>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Service Manager</h3>
                            <div class="time">Sep 2012 - Dec 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Telefónica</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Technical Service Manager for Telefónica Digital – GO&D leading the services operation, covering product operation design and management:</p>
                      <ul>
                        <li>Apply technical criteria to make the right technical decisions and production changes</il>
                        <li>Prepare technical strategies to improve service performance and operation.</il>
                        <li>Define technical operational requirements for Development, Architecture and Service Delivery.</il>
                        <li>Problem Management and Task Forces Coordination.</il>
                        <li>Define and Monitor (technical) operational KPIs.</il>
                        <li>Develop or define Operating Tools and automatic operational procedures.</il>
                        <li>Technical Service knowledge with E2E vision, to help support teams on crisis.</il>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Engineering Consultant</h3>
                            <div class="time">Jul 2011 - Sep 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Amaris</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Consultant Engineer for Telefónica Digital under the L3 Support (G.O.D.) initiative, as Team Coordinator of several national and international projects.</p>
                      <ul>
                        <li>Linux systems administration.</il>
                        <li>Problem management.</il>
                        <li>Internal and external training courses.</il>
                        <li>Project management.</il>
                        <li>Staff Recruitment.</il>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
