<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <img src="{{site.baseurl}}/assets/images/amazon.png" style="
                        height: 50px;
                        float: left;
                        padding-right: 10px;
                    "/>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Account Manager</h3>
                            <div class="time">Sept 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon Web Services</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Technical Account Manager for Amazon Web Services (AWS), under the Enterprise
                          Support Organisation, working with top AWS Enterprise customers helping them
                          make the most out of AWS, acting as my customers AWS primary contact and their
                          internal ambassador in the company.</p>
                        <p>My main duties are to help them to optimize their workloads,
                          take architectural design and scaling decisions and proactively
                          make security, performance, cost optimization and fault tolerance recommendations
                          as well as running periodic business and operational reviews.</p>
                        <p>I act also as a bridge between customers and AWS product teams providing
                          feedback based on customer requirements and pain points, facilitating C-level
                          engagements to discuss product feature requests and customers needs.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <img src="{{site.baseurl}}/assets/images/tuenti.png" style="
                        height: 50px;
                        float: left;
                        padding-right: 10px;
                    "/>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Team Leader & SRE Principal Engineer</h3>
                            <div class="time">Feb 2017 - Sept 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Tuenti (Telefónica)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Team Leader in Tuenti (Telefónica) managing the Continuous Engineering team under the Operations Area,
                          undertaking five major responsabilities:</p>
                        <ul>
                          <li>Supervised an international and multi-cultural team of seven senior team members, divided in two major locations.</li>
                          <li>Reviewed business plans and set yearly roadmap and quarterly goals for the team and individuals.</li>
                          <li>Implemented an Agile team way-of-working based on Scrum methodolgy.</li>
                          <li>Encouraged senior team members to get out of their comfort zone for individual and collective professional growth.</li>
                          <li>Assigned and monitored work tracks to pursue business plans through the team goals achievement.</li>
                          <li>Been part of these work tracks and rotate among them to balance efforts.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <img src="{{site.baseurl}}/assets/images/telefonica.png" style="
                        height: 50px;
                        float: left;
                        padding-right: 10px;
                    "/>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Leader</h3>
                            <div class="time">Jan 2015 - Feb 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Telefónica</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Technical Leader for Telefonica CCDO (Future Comms Area)
                          undertaking four core responsibilities in the Service Engineering (SEEN) department:</p>
                        <ol>
                          <li>Team Support: Help when needed and act as a technical reference for the team members.</li>
                          <li>Technical Excellence: Search for the technical excellence, raising and prioritizing technical debt or reviewing and inspecting designs.</li>
                          <li>Innovation: To sponsor innovation in the team work, while solving issues, designing new solutions or just doing things in a more efficient way.</li>
                          <li>Technical Roadmap.</li>
                        </ol>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <img src="{{site.baseurl}}/assets/images/telefonica.png" style="
                        height: 50px;
                        float: left;
                        padding-right: 10px;
                    "/>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Service Reliability Engineer (SRE)</h3>
                            <div class="time">Dec 2013 - Jan 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Telefónica</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Service Engineer for Telefónica Digital (Future Comms Area) undertaking three main roles in the Service Engineering (SEEN) department:</p>
                        <ul>
                          <li>Reliability Engineer: Analyze service behavior, develop custom operational tools and lead technical task forces</il>
                          <li>Technology Observatory: Continuous researching on new engineering tools and methodologies to provide technical guidance to the Org.</il>
                          <li>Project Manager: Lead development and deployment of internal projects and POCs.</il>
                        </ul>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <img src="{{site.baseurl}}/assets/images/telefonica.png" style="
                        height: 50px;
                        float: left;
                        padding-right: 10px;
                    "/>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Service Manager</h3>
                            <div class="time">Sep 2012 - Dec 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Telefónica</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Technical Service Manager for Telefónica Digital – GO&D leading the services operation, covering product operation design and management:</p>
                      <ul>
                        <li>Apply technical criteria to make the right technical decisions and production changes</il>
                        <li>Prepare technical strategies to improve service performance and operation.</il>
                        <li>Define technical operational requirements for Development, Architecture and Service Delivery.</il>
                        <li>Problem Management and Task Forces Coordination.</il>
                        <li>Define and Monitor (technical) operational KPIs.</il>
                        <li>Develop or define Operating Tools and automatic operational procedures.</il>
                        <li>Technical Service knowledge with E2E vision, to help support teams on crisis.</il>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Engineering Consultant</h3>
                            <div class="time">Jul 2011 - Sep 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Amaris</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Consultant Engineer for Telefónica Digital under the L3 Support (G.O.D.) initiative, as Team Coordinator of several national and international projects.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
