<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p> Key examples of some projects I've done in my last positions:</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a href="#hook">AWS Reserved Instances Recommendator</a></span> -
                    <span class="project-tagline">Based on AWS obscure billing files, a tool to analyze running workloads and create a purchase recommendation based on economic, coverage and usage risk factors.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Microservices platform + DevOps pipelines</a></span> -
                    <span class="project-tagline">Build from zero a new multi-site platform based on Kubernetes and Docker plus all the relevant O&M toolset and procedures to enable CI/CD.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Real-Time service Cloud migration</a></span> -
                    <span class="project-tagline">Design and perform a cloud migration of one the product components of a media (VoIP) platform, including the cloud adoption roadmap and performance testing of real-time ssystems</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Hybrid Cloud Management: Infrastructure as Code (IaC)</a></span> -
                    <span class="project-tagline">Design and implement the IaC of an hybrid-cloud infrastructure (AWS + VMWare) using Terraform, Packer and Ansible</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Multibranching (Blue/Green)</a></span> -
                    <span class="project-tagline"> Design on how to run multiple versions of same component in parallel and how to do smooth traffic transition betwen branches to route customers traffic to especific versions.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Measure Everything</a></span> -
                    <span class="project-tagline"> Devise a new monitoring philosophy based on metrics collection and anomalies detection.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">E2E Probes</a></span> -
                    <span class="project-tagline"> Develop custom E2E probes based on Raspberry Pi (embeded linux) to worldwide monitor the ‘real user experience’ in black box monitoring mode.</span>
                </div><!--//item-->
            </section><!--//section-->
