<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p> Key examples of some projects I've done in my last positions:</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a href="#hook">AWS Reserved Instances Recommendator</a></span> -
                    <span class="project-tagline">Based on AWS obscure billing files, a tool to analyze running workloads and create a purchase recommendation based on economic, coverage and usage risk factors.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Financial Analysis Framework</a></span> -
                    <span class="project-tagline">Using AWS billing files, a tool/framework based on Redshift and PL-SQL to get insights on consts allocations and AWS commercial actions (EDP, Credits, Private Pricings) impact.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Microservices platform based on Kubernetes</a></span> -
                    <span class="project-tagline">Build from zero a new multi-site platform based on Kubernetes,Docker and CoreOS, using Puppet and Cloud for deployment and Prometheus and Ansible for O&M monitoring and procedures.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Microservices DevOps pipelines</a></span> -
                    <span class="project-tagline">Design and implementation of CI/CD pipelines in a Microservices environment using Helm, Jenkinks and Jira</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Real-Time service Cloud migration assesment (multi vendor) and implementation</a></span> -
                    <span class="project-tagline">Design and perform a cloud migration assesment to different Public Cloud Providers (Azure and AWS) of one the product components of a media (VoIP) platform,
                      including the cloud adoption roadmap and performance testing of real-time behaviour</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Hybrid Cloud Management: Infrastructure as Code (IaC)</a></span> -
                    <span class="project-tagline">Design the IaC of an hybrid-cloud infrastructure (AWS + VMWare) using Terraform, Packer and Ansible</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Multibranching (Blue/Green Deployment)</a></span> -
                    <span class="project-tagline"> Design on how to run multiple versions of same component in parallel and how to do smooth traffic transition betwen branches to route customers traffic to especific versions.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Reactive Monitoring with automatic handlers</a></span> -
                    <span class="project-tagline">Design a monitoring framework to reduce the MTTR and MTTA of any operational issue, mixing all Support levels and mixing automatic and manual actions with Actions Protocols.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">On-premises Chaos Monkey</a></span> -
                    <span class="project-tagline">Design the framework to implement failure escenarios to test the O&M teams, detection tools and recovery procedures, in an on-prem environment.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Measure Everything</a></span> -
                    <span class="project-tagline"> Devise a new monitoring philosophy based on metrics collection and anomalies detection usign Graphite, Splunk and Skyline (Etsy).</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">E2E VoIP probes based on Raspberry Pi</a></span> -
                    <span class="project-tagline"> Develop custom E2E probes based on Raspberry Pi (embeded linux) to worldwide monitor the ‘real user experience’ in black box monitoring mode.</span>
                </div><!--//item-->
            </section><!--//section-->
