<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">

                <div class="item">
                    <h3 class="level-title">DevOps</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="90%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Cloud Computing</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="90%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Leadership</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="90%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Program Management</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="90%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Customer facing skills</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="90%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Software Development</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="90%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">IT Operations Management</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="90%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                </div>
                <img class="cloud-words" src="{{site.baseurl}}/assets/images/cloud_words.png"/>
            </section><!--//skills-section-->
